

*{
  box-sizing: border-box;
}
body{
  color: #333;
}

img{
  /* max-width: 100%; */
  object-fit: contain;
  width: 100%;
  height: 100%;


}

main{
  max-width: 700px;
  margin: 0 auto;
  padding: 15px;
}
header{
  display: flex;
  margin-bottom:50px;
  justify-content: space-between;
  margin-top: 15px;
}
header a{
  text-decoration: none;
  color: inherit;
}
header nav{
  display: flex;
  gap: 15px;
  align-items: center;
}
header nav a{
  
  text-decoration: none;
}
header a.logo{
  font-weight: bold;
  font-size: 1.5rem;
}

div.post{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
  
  
  

}
.post .images{
  flex-basis: 45%;
}
.post .texts{
  flex-basis: 50%;
}
.post .texts h2{
  font-size: 1.2rem;
  margin-bottom: 0;
}
.texts .info{
  margin: 6px 0;
  font-size: .7rem;
  font-weight: bold;
  display: flex;
  gap: 5px;
}
.texts .info .author{
  color: #333;
}
.texts .summary{
  margin: 10px 0;

}
form.register,form.login{
  width: 100%;
  margin: 0 auto;
  /*  */
}
input{
  display: block;
  margin-bottom:10px ;
  width: 100%;
  padding: 10px;
 
  
 
  border-radius: 7px;
  /* text-align: center; */
}
button{
  padding: 7px;
  border-radius: 6px;
  margin-top: 6px;
  width: 100%;
  background-color: #333;
  color: white;
}
.container-box h1{
  text-align: center;
  

}
.container-box{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 400px;
  gap: 2rem;
  max-width: 500px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0 auto ;
}
.login-box{
  border: 3px solid green;

}

